<header id="header">
	<div class="relative-box">
		<a href="{{ '/' | prepend: site.baseurl }}">
			<img src="{{ 'image/logo.png' | prepend: site.baseurl }}" class="logo">
		</a>
	</div>
	<nav id="nav">
		<div class="menu2 pc-none ">
			<a class="menu-trigger" href="#">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>
		<nav class="globalMenuSp">
			<ul class="nav">
				<div class="flexbox navi-menu">
					<li class="menu-li">
						<a href="{{ 'resource.html' | prepend: site.baseurl }}">公開資源</a>
					</li>
					<li class="menu-li">
						<a href="{{ 'publication.html' | prepend: site.baseurl }}">研究成果</a>
					</li>
					<li class="menu-li">
						<a href="{{ 'member.html' | prepend: site.baseurl }}">メンバー</a>
					</li>
					<li class="menu-li">
						<a href="{{ 'english.html' | prepend: site.baseurl }}">English</a>
					</li>
				</div>
			</ul>
		</nav>
	</nav>
</header>
