<section id="main_visual2">

	<div class="center2">
		<div class="opacity-box">
			<div class="rectangle">
				<div class="relative">
					<p class="rectangle-text">[委託研究]国立研究開発法人情報通信研究機構</p>
				</div>
			</div>
			<div class="shape-bar"></div>
			<p class="title-text-black1 inline-block">多言語音声</p>
			<p class="title-text-orange inline-block">翻訳</p>
			<p class="title-text-black1 inline-block">高度化のための</p><br>
			<p class="title-text-blue inline-block">ディープラーニング</p>
			<p class="title-text-black2 inline-block">技術の研究開発</p><br>
			<div class="shape-bar mb-7"></div>
			<p class="title-text-green inline-block">深層学習によるマルチモーダル文脈理解と機械翻訳の高度化</p>
		</div>
	</div>
</section>
