<section id="main_visual">

	<div class="center">
		<div class="rectangle">
			<div class="relative">
				<p class="rectangle-text">[委託研究]国立研究開発法人情報通信研究機構</p>
			</div>
		</div>
		<div class="shape-bar"></div>
		<p class="title-text-black1">多言語音声</p>
		<p class="title-text-orange inline-block">翻訳</p>
		<p class="title-text-black1 inline-block line-height-33">高度化のための</p>
		<p class="title-text-blue">ディープラーニング</p>
		<p class="title-text-black2">技術の研究開発</p>
		<div class="shape-bar mb-13"></div>
		<p class="title-text-green">深層学習によるマルチモーダル文脈理解と</p>
		<p class="title-text-green">機械翻訳の高度化</p>
	</div>
</section>
